{% extends "layout.html"%}

{% block body %}

<div class="container">
    <div class="row">
        <h1>Enter Your Name</h1>
    </div>
    <div class="row">
        <div class="col">
            <form method="post" action="/login">
                <div class="form-group">
                    <input autocomplete="off" class="form-control" name="username" placeholder="Your Name" type="text">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}